{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="width pt-44 pb-44">
        <div class="pb-32">
            <h2 class="text-center background-title">Register</h2>
            <h1 class="text-center title absolute inset-x-0">Register</h1>
        </div>

        <div class="border-2 border-red-600 rounded-lg">
            <div class="width height">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="text-red-600" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endfor %}

                <div class="space-y-5">
                    <h1 class="font-oswald text-xl font-bold">S'inscrire</h1>

                    {{ form_start(registrationForm) }}
                    <div class="space-y-5">
                        {{ form_row(registrationForm.name) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Mot de passe :'
                        }) }}
                        {{ form_row(registrationForm.picture) }}
                        {{ form_row(registrationForm.RGPDConsent) }}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="button">Register</button>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
