<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="bg-gray-300">
       {{ include ('header.html.twig') }}

       {% if app.user and app.user.isVerified == false %}
           <div class="absolute bg-black text-white text-sm p-3 z-10 flex w-full">
               <p class="font-bold">Votre compte n'est pas vérifié. <span class="font-light">Renvoyer le lien d'activation</span></p>
           </div>
       {% endif %}

        {% block body %}{% endblock %}

        {{ include ('footer.html.twig') }}
    </body>
</html>
