{{ form_errors(form) }}
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}
    {{ form_row(form.coverFile) }}

    <button type="button" class="bg-white py-3 px-5 hover:bg-black hover:text-white btn-new mb-5" id="new-picture" data-collection="#pictures">Ajouter une image</button>

    <div id="pictures" class="flex flex-wrap gap-3" data-prototype="{{ include("trick/_picture.html.twig", {form: form.pictures.vars.prototype})|e("html_attr") }}" data-index="{{ form.pictures|length == 0 ? 0 : form.pictures|last.vars.name + 1 }}">
        {%  for picture in form.pictures %}
            <div class="mt-5">
                {{ include("trick/_picture.html.twig", {form: picture}) }}
            </div>
        {% endfor %}
    </div>

    <button type="button" class="bg-white py-3 px-5 hover:bg-black hover:text-white btn-new" id="new-video" data-collection="#videos">Ajouter une vidéo</button>

    <div id="videos" class="flex flex-wrap gap-3" data-prototype="{{ include("trick/_video.html.twig", {form: form.videos.vars.prototype})|e("html_attr") }}" data-index="{{ form.videos|length == 0 ? 0 : form.videos|last.vars.name + 1 }}">
        {%  for video in form.videos %}
            <div class="mt-5">
                {{ include("trick/_video.html.twig", {form: video}) }}
            </div>
        {% endfor %}
    </div>

    {{ form_errors(form.videos) }}
    <div class="text-center">
        <button type="submit" class="button">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}