{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <section class="example-wrapper">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        <figure class="relative">
            <img src="{{ asset('img/image-accueil.jpg') }}" alt="" class="relative">
            <figcaption class="absolute top-2/4 left-2/4 background-title">SnowTricks</figcaption>
            <figcaption class="absolute top-2/3 left-2/4 title">SnowTricks</figcaption>
            <a href="#trickList"><img src="{{ asset('img/fleche-vers-le-bas.png') }}" alt="" class="absolute bottom-10 right-10 w-10"></a>
        </figure>
    </section>

    {% if is_granted('ROLE_USER') %}
        <section class="width height text-center border-b-4 border-black">
            <h1 class="title">Ajouter un trick</h1>
            <button class="button">
                <a href="{{ path('app_trick_new') }}">Ajouter</a>
            </button>
        </section>
    {% endif %}

    <section id="trickList" class="width height text-center">
        <div class="flex gap-x-10 gap-y-10 flex-wrap justify-between" id="trick-container">
            {{ include ('trick/_list_tricks.html.twig') }}
        </div>

        <button class="button" id="loadMoreTricksBtn">
            En voir plus
        </button>
    </section>
{% endblock %}
